body{
    font-family: 'Oxygen', sans-serif;
    color:#1a1a1a;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}

a{
    color:#3A3795;
    text-decoration: none;
    font-weight:600;
}

img{
    max-width:100%;
}

header{
    background:url('../images/website-hero2.jpg') center center no-repeat;
    background-size: cover;
    position:relative;
}

header > *{
    position:relative;
    z-index:1;
}

header::before{
    background:rgba(58, 55, 149, 0.55);
    position:absolute;
    height:100%;
    width:100%;
    content:'';
    display:block;
    z-index:0;
}

.navbar{
    background:rgba(58, 55, 149, 0.5);
}

.navbar-dark .navbar-nav .nav-link{
    color:#fff;
}

#hero{
    min-height: 85vh;
}

#hero .logo{
    max-width:300px;
}

#hero h1{
    max-width:700px;
    color:#fff; 
}

.green-bold{
    color:#B8C901;
    text-transform: uppercase;
    font-weight:500;
    font-size:110%;
}

#phone{
    background:#020624;
    color:#fff;
}

.card{
    height:100%;
    border-radius:0 !important;
}

.card .card-title{
    font-weight:600;
    color:#B215D9;
}

footer ul li{
    margin-right:1em;
}

footer ul li:last-of-type{
    margin-right:0;
}


footer a{
    color:#1a1a1a;
    font-weight: normal;
    font-size:80%;
}

footer .fab{
    font-size:200%;
}